<p ng-hide="vm.authService.isLoggedIn()">Please sign in to access your dashboard.</p>
<div class="wrapper-large" ng-show="vm.authService.isLoggedIn()">
  <h1>DASHBOARD TITLE!!</h1>
  <section class="grid">

    <div class="callLogs-view" style="border: 1px solid black; width: 400px; height: 400px;">
      CALL TRANSCRIPTION
      <!-- <form ng-submit="vm.submitCaller();" name="callerNameForm">
        <div class="form-group">
          <lable for="inputCallerName">Caller Name</lable>
          <input ng-model="vm.currentCaller.name" type="text" ng-model="name" name="name" required class="form-control" id="inputCallerName" placeholder="Current Caller's Name">
        </div>
        <button type="submit" ng-disabled="callerNameForm.$invalid" class="btn btn-default">Register Caller</button>
      </form> -->
    </div>

    <div id="hotButtons-view" style="border: 1px solid black; width: 400px; height: 400px;">
      HOTBUTTON LIST
    </div>

    <div id="scripts-view" style="border: 1px solid black; width: 400px; height: 400px;">
      SCRIPTS
    </div>

  </section>
</div> <!-- div.large-wrapper -->
